.header__lang-link {
  padding-top: 28px;
  list-style: none;
  width: 30px;
  padding-right: 18px;
  height: 28px;
  color: white;
  font-size: 24px;
  line-height: 28px;
  text-decoration: underline;
}

.header__lang-link:last-child {
  padding-right: 0;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
