.place__title {
  /* max-width: 288px; */
  font-size: 32px;
  line-height: 35px;
  font-weight: 900;
  margin: 0;
}

@media (max-width: 479px) {
  .place__title {
    padding-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .place__title {
    /* max-width: 340px; */
    font-size: 42px;
    line-height: 46px;
  }
}

@media (min-width: 1024px) {
  .place__title {
    /* max-width: 440px; */
    /* list-style: none; */
    font-size: 72px;
    line-height: 76px;
    /* max-width: 460px; */
  }
}

/* .place__title {
  list-style: none;
  font-size: 72px;
  line-height: 76px;
  max-width: 460px;
  margin: 0;
} */



