.photo-grid {
  display: grid;
  padding-top: 92px;
  grid-gap: 16px;
  justify-content: center;
}

@media (min-width: 480px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
