.photo-grid {
  display: grid;
  padding-top: 92px;
  /* grid-template-columns: repeat(auto-fit, minmax(284px,1fr)); */
  /* grid-template-columns: repeat(4, 1fr); */
  grid-gap: 16px;
  justify-content: center;
}

/* 
@media (max-width: 1024px) {
  .photo-grid {
    grid-gap: 14px;
 }
}

@media (max-width: 768px) {
  .photo-grid {
    padding-top: 88px;
    grid-gap: 16px;
 }
} */

@media (min-width: 480px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
 }
}

@media (min-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
 }
}

@media (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
 }
}


/* @media (max-width: 320px) {
  .photo-grid {
    padding-top: 64px;
    grid-gap: 12px;
 }
} */

