.place__url-link {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: white;
  margin: 0;
  padding-top: 12px;
  text-decoration: underline;
}
.place__url-link:hover {
  opacity: 0.8;
  transition: 0.1s ease-in-out;
}
