.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  margin-top: 0;
}

@media (max-width: 479px) {
  .place__website {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .place__website {
    order: 2;
  }
}
